{% extends "layout.html" %}

{% block content %}

<div class="container mt-5 " >
    <div class="row d-flex justify-content-center">
        <div class="col-md-10" >
            <div class="card p-2 text-center p-3 mb-2 bg-dark text-white">
                <div align="center">
                    <h1>Cryptocurrency courses</h1>
                </div>
                <br>
                <br>

                <form action="{{name}}" method="post">
                    <div align="left">
                        <div class="input-group">
                            <input type="text" name="search_input" class="form-control" required>
                            <div class="input-group-append ">
                                <button class="btn btn-outline-secondary text-white"  type="submit" aria-haspopup="true" aria-expanded="false" >Search</button>
                            </div>
                        </div>
                    </div>
                </form>
                <br>
                <table class="table text-white" >
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Name</th>
                      <th scope="col">Capitalisation</th>
                      <th scope="col">Price</th>
                      <th scope="col">Total Volume</th>
                      <th scope="col">Circuit</th>
                      <th scope="col">Change(24H)</th>
                    </tr>
                  </thead>
                  <tbody>

                {% for i in range(20) %}
                    {% if api[i]['name'] != "TrueHKD" %}
                    <tr>
                      <th scope="row"><img src={{api[i]['image']}} width="50"></th>
                        <th scope="row"><a href="{{ url_for('search', name=api[i]['id']) }}">{{ api[i]['name'] }}</a></th>
                      <td>{{ api[i]['market_cap'] }} USD</td>
                      <td>{{ api[i]['current_price'] }} USD</td>
                      <td>{{ api[i]['total_volume'] }} USD</td>
                      <td>{{ api[i]['circulating_supply'] }} {{ api[i]['symbol'] }}</td>
                      <td><font color="{{ 'red' if api[i]['price_change_percentage_24h'] < 0 else 'green' }}">{{ api[i]['price_change_percentage_24h'] }} %</font></td>
                    </tr>
                    {% endif %}
                {% endfor %}
              </tbody>
            </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}