{% extends "layout.html" %}
{% block content %}
<div class="container mt-5" >
    <div class="row d-flex justify-content-center">
        <div class="col-md-10" >
            <div class="card p-2 text-left p-3 mb-2 bg-dark text-white">
                <form method="post" action="">
                     {{ form.hidden_tag() }}
                     <h2 class="border-bottom mb-4">Reset password request</h2>
                     <p>Type your email and submit form</p>
                     <div class="form-group">
                         {{ form.email.label(class="form-control-label") }}
                         {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                            {% endfor %}
                         {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                         {% endif %}
                     </div>
                     <div class="form-group">
                         {{ form.submit(class="btn btn-outline-info") }}
                     </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}